h1{
	text-transform: uppercase; /* tranforma o texto em minusculas*/
	font-style: italic; /* mete em italico*/
	font-weight: 100 ; /* espessura fina*/
	font-family: fantasy, arial; /* tipo de letra*/
	letter-spacing: 20px; /* espacamento entre letras*/
	line-height:60px; /* altura da linha*/
	text-align: right; /* alinhamento do texto a direita*/
	text-decoration: line-through; /* risco por cima do texto razurado*/
	color:red; /*cor do texto*/
}
  
 div.caixa{
 	border: 1px dashed red;  /* rebordo tracejado 1px vermelho*/
 	width: 50%; /* largura 50% da area disponivel*/
 	margin: 50px 30px 100px 120px; /* margem 50px em cima, 30px direita, 100px baixo e 120a esquerda*/
 	padding: 30px; /* margem interna de 30px em cima direita baixo e esquerda*/
 	font: left;
 }
  body div.logo{
  width:100px; /* largura 30px*/
  float: right; /* encostar a direita*/
 }